.bentham-regular {
  font-family: "Bentham", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif"; */
  font-family: Bentham, Helvetica, Arial, sans-serif;
}

body {
  height: 200vh; /* Extra height for scrolling */
  background-color: #f5f5f5;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 50;
  opacity: 80%;
  transition: all 0.7s ease;
}
.header.opaque {
  opacity: 100%;
}

.menu-placeholder {
  width: 80px; /* Same width as cart to maintain balance */
  visibility: hidden;
}

.cart {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: 80px;
  text-align: right;
}

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  pointer-events: none;
  z-index: 100;
}

.logo {
  position: absolute;
  font-size: 120px;
  font-weight: bold;
  color: #fffbfb;
  letter-spacing: 0.5em; /* Using em as requested */
  transition: all 0.7s ease;
  transform-origin: center center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 85%;
}

.logo.header-mode {
  font-size: 30px;
  letter-spacing: 0.25em;
  top: 20px;
  transform: translate(-50%, 0);
  color: #2a2929;
}

.content {
  margin-top: 100vh;
  padding: 20px;
}
.banner {
  position: relative;
}

.banner img {
  width: 100%;
}
.banner span {
  position: absolute;
  font-weight: 500;
  font-size: 40px;
  margin-top: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.banner button {
  position: absolute;
  margin-top: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 130px;
  font-size: 17px;
  font-weight: 500;
  background-color: #f5f5f5;
  border: 0.5px solid #f5f5f5;
}

.text {
  text-decoration: underline;
  font-weight: 500;
  transition: 0.3s ease;
}

.text.transparent {
  color: #fff;
}
.cart.transparent {
  color: #fff;
}
.explore {
  display: flex;
  text-decoration: underline;
  font-weight: 300;
  font-size: 30px;
  justify-content: center;
  margin-top: 150px;
}
slides {
  animation: product 10s ease infinite;
}
.product {
  float: left;
}
.product img {
  width: 400px;
}
